{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": ["eslint:recommended"],
  "plugins": ["import"],
  "rules": {
    "import/no-unresolved": "error",
    "no-duplicate-imports": "error",
    "react/prop-types": "off",
    "no-console": "warn"
  }
}
